

$color-1: #A4EBF3;
$color-2: #CCF2F4;
$color-3: #F4F9F9;
$color-4: #AAAAAA;
$color-5: #AABBCC;




// $color-1: #4cbfa6;
// $color-2: #f6ebf4;
// $color-3: #553283ef;
// $color-4: #ed0b70;
// $color-5: #301008;
// $color-6: yellow;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imageDeProfil{
    object-fit: none;
    clip-path:circle(50%);
    
}

