.ligneVertical{
    border-right: thick solid $color-1;
    height:85%;
    width: 1%;
}
.boutonDeConfigurations{


width: 20%;

}
.ligneHorizontal{
    border-top: thick solid $color-1;
    width: 78%;
    height: 1%;
}

