.ligneVertical{
    border-right: thick solid $color-1;
    height:85%;
    width: 1%;
}
.boutonDeConfigurations{
    align-items: center;
button{
    padding: 1%;
    margin-top: 2%;
    margin-left: 5%;
    width: 15%;
}
}
.ligneHorizontal{
    border-top: thick solid $color-1;
    width: 78%;
    height: 1%;
}

