
.info-form-container{
    width: 20%;
    background: $color-8;
    border: 0.3px solid $color-5;
    border-radius: 0px 15px 15px 0px;
    p{
        line-height: 15px;
        letter-spacing: 1.01px;
    }
    .ul-profil{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      .button-form{
          cursor: pointer;
          background: $color-8;
          border: 0.3px solid $color-5;
          border-radius: 15px;
          padding:3% 4%;
          width: 96%;
          text-align: center;
          margin-top: 6%;
          transition: all 1s;
      }
      .active-btn{
          background: $color-2;
  
          &:hover {
            background: $color-5;
          }
        }
        .button-form:not(.active-btn) {
          &:hover {
            transform: translateX(3px);
          }
        }
  }




}

.profile-page{
  width: 100%;
}
.form-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 4%;
    padding-left: 400px;
}


.description-type-connection{
    text-align: center;
    padding-top: 10px;
}

.popup-conditions {
  position: fixed;
  animation: popup 1s forwards;
  z-index: 100;
  left: 50%;
  width: 500px;
    h3{
      padding-bottom: 20px;
      font-size: 30px;
    }
    @keyframes popup {
      from{
        backdrop-filter: none;
      }
      to {
        backdrop-filter: blur(2px);
      }
    }
    p{
      line-height: 30px;
      line-clamp: 20px;
      font-size: 15px;
    }

    .modal {
      transform: translate(-100%);
      background: $color-2;
      padding: 25px;
      border-radius: 20px;
      box-shadow: 0 0 2px rgba(131, 130, 130, 0.356);
      overflow: auto;
      transform: scaleY(0);
      transform-origin: center;
      animation: modal .5s forwards;

      h3 {
        min-width: 200px;
      }

      @keyframes modal {
        to {
          transform: scale(1) translate(-50%);
        }
      }

      .cross {
        position: absolute;
        top: 25px;
        right: 25px;
        transition: 0.1s;
        
        cursor: pointer;

        &:hover {
          transform: scale(1.07);
        }
      }

      ul {
        min-width: 250px;
        max-width: 300px;
        margin: 20px 0 0;
        max-height: 500px;
        min-height: 200px;


        li {
          display: grid;
          grid-template-columns: 64px 1fr 114px;
          align-items: center;
          margin: 10px 0;

          img {
            height: 50px;
            width: 50px;
            border-radius: 20px;
            object-fit: cover;
            box-shadow: 0 0 2px rgba(51, 51, 51, 0.376);
          }
          h4 {
            text-align: left;
            min-width: 210px;
          }
          .follow-handler {
            text-align: left;

            button {
              background: $color-4;
              border-radius: 20px;
              margin-right: 6px;

              &:hover {
                color: $color-3;
                transform: translateX(2px);
              }
            }
          }
        }
      }
    }
}


.cadre {
    padding: 5% 10%;
    border: 0.3px solid $color-5;
    border-right: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: $color-1;
    h1 {
      letter-spacing: 5px;
      margin-bottom: 15%;
      font-weight: bold;
      text-align: center;
    }
    .inputbox {
      position: relative;
      width: 100%;
      margin-top: 8%;
      input {
        width: 100%;
        border: 0.3px solid $color-5;
        outline: none;
        background-color: $color-8;
        padding: 4%;
        border-radius: 10px;
        font-size: 1.1em;
      }
      span {
        position: absolute;
        top:-40%;
        left: 4%;
        transition: 0.3s;
        font-family: sans-serif;
      }
      .error{
        font-size: small;
        font-weight: 600;
        color: red;
        position: absolute;
        left: 6%;

      }
    }
    .chexkboxConditionGenerale{
      margin-top: 3px;
      padding: 5px;
    }

}
  
  
.span_date{
  margin-left: 7px;
  font-size: 1em;
  font-family: sans-serif;
}
  
.cadre .inputbox input:focus ~ span,
.cadre .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
  
input[type="submit"], .buttonTEL{
    border-radius: 10px;
    background: $color-8;
    border: 0.3px solid $color-5;
    width: 100%;
    height: 50px;
    transition:  background-color 1s;
}

.buttonTEL{
  margin-top: 15px;
  margin-bottom: 15px;
}


input[type="submit"]:hover, .buttonTEL:hover{
    background-color: $color-5;
}

.mdp{
  font-weight: 900;
}

.info-form-container{
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .info-form-right{
    padding-top: 15px;
  }
}

.enregistrementReussi{
  width: 100%;
}

.formulaire{
  width: 40%;
}

/*
#textSucces{
  position: absolute;
  width:100%;
  height: 100%;
  background-color: $color-5;
  opacity: 80%;
  color: $color-8;
  visibility: hidden;
}
*/


.form-presentation{
  background: $color-2;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: fixed;
  border-right: 2px solid black;
  border-radius: 5px;
  p:first-child{
    padding-top: 30%;
  }
  p{
    padding-top: 5%;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color:  rgba(0, 0, 0, 0.855);
  }
  img{
    padding-top: 20px;
  }
}

.imginsc{
  border-radius: 0px 10px 10px 0px;
}

.cond{
  text-decoration : underline;
  font-weight: bolder;
  cursor: pointer;
}

