

.ul-profil{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    .button-form{
        cursor: pointer;
        border: 3px solid black;
        border-radius: 20px;
        padding: 10px 5%;
        transition: 0.2s;
        width: 96%;
        text-align: center;
        margin-top: 6%;
    }
    .active-btn {
        background: $color-3;

        &:hover {
          background: $color-5;
        }
      }
      .button-form:not(.active-btn) {
        &:hover {
          transform: translateX(3px);
        }
      }
}


.info-form-container{
    width: 20%;
    border: 2px solid black;
    border-radius: 0px 15px 15px 0px;
    background-color: $color-3;
    p{
        line-height: 15px;
        letter-spacing: 1.01px;
    }
}

.profile-page{
  width: 100%;
}
.form-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 4%;

}


.description-type-connection{
    text-align: center;
}



.cadre {
    padding: 5% 10%;
    border: 2px solid black;
    border-right: 0px solid black;
    border-radius: 15px 0px 0px 15px;
    background-color: $color-1;
    h1 {
      letter-spacing: 5px;
      margin-bottom: 30%;
      font-weight: bold;
      text-align: center;
    }
    .inputbox {
      position: relative;
      width: 100%;
      margin-top: 4%;
      input {
        width: 100%;
        border: 2px solid #000;
        outline: none;
        background-color: $color-3;
        padding: 4%;
        border-radius: 10px;
        font-size: 1.1em;
      }
      span {
        position: absolute;
        top: 12px;
        left: 6%;
        font-size: 1em;
        transition: 0.3s;
        font-family: sans-serif;
      }
    }
    .chexkboxConditionGenerale{
      margin-top: 3px;
      padding: 5px;
    }
    .error{
      padding-left: 5px;
      font-size: small;
      font-weight: 600;
      color: red;
      position: absolute;
    }
    #connexion,#inscription{
      margin-top: 5px;
    }
}
  
  
.span_date{
  margin-left: 7px;
  font-size: 1em;
  font-family: sans-serif;
}
  
.cadre .inputbox input:focus ~ span,
.cadre .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
  
input[type="submit"], .buttonTEL{
    border: none;
    border-radius: 8px;
    border: 2px solid #000;
    background-color: $color-3;
    width: 100%;
    height: 50px;
}

.buttonTEL{
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="submit"]:hover, .buttonTEL:hover{
    background-color: $color-5;
}

.mdp{
  font-weight: 900;
}

.info-form-container{
  .info-form-right{
    padding-top: 15px;
  }
}

.enregistrementReussi{
  display: flex;
  flex-direction: column;
}

.formulaire{
  width: 35%;
}