
.modificationDuProfilBackgroud{
    // background: $color-6;
    
}

.modificationDuProfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}

 .modificationDuProfilText{
    display: flex;
    flex-direction: column;
    padding-left:5%;
    font-size: medium;

}

span{

    margin-bottom: 4%;

}

.imageDeProfilConfiguration{
    width: 15%;
    
}
.imageDeProfilConfiguration:hover{
    filter: blur(1px);
}
.accesDossiersPerso{
    display: flex;
    align-items: row;
    margin-left:10%;
    width:80% ;
    
    
}


input{
    margin-bottom: 2%;
}

.accesDossiersPerso{
    display: flex;
  
}

.textAccesDossiersPerso{
    margin-left:18px;
}

