
.ModifucationInformationDuCompte{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}

.ModificationInformationDuCompteText{
    display: flex;
    flex-direction: column;
    padding-left:5%;
    font-size: medium;
    
}

.buttonSuppressionCompte{
    display: flex;
    flex-direction:row;
    align-items:center;
    button{
        padding: 1%;
        margin-bottom: 1%;
        margin-top: 2%;
        margin-left: 6%;
        width: 16%;
        max-width: 160px;
        background-color: $color-3;
        border: 2px solid $color-4;
        border-radius: 20px;
    }
    button:hover  {
        background-color: $color-1;
        border-color: black;
        
    }
    span{
        padding-left: 40px;
        max-width: 100px;
    }
}
