

header {
    height: 50px;
    background-color: $color-2;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: #b9b9b9;
    position: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// .logo{
//     //margin-right: 250px;
// }



.partie-droit-nav,.partie-gauche-nav{
    width: 20%;
}


.svg-home{
    height: 45px;
    width: 45px;
}

.svg-param{
    height: 42px;
    width: 42px;
}



.ul-navBar{
    display: flex;
    li{
        list-style-type: none;
        padding-left: 1rem;
        align-self: center;
    }

    .nav-active-menu {
        padding-top: 50px;
    }

    .nav-active-tendances-decouvrir {
        padding-bottom: 0.75rem;
    }

    .nav-active {
        position: relative;
  
        &::after {
          content: "";
          height: 4px;
          background: violet;
          position: absolute;
          border-radius: 10px;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-animation: anim 0.3s ease forwards;
          animation: anim 0.6s ease forwards;
  
          @-webkit-keyframes anim {
            to {
              width: 100%;
            }
          }
          @keyframes anim {
            to {
              width: 100%;
            }
          }
        }
    }
}

.img-profile{
    height: 35px;
    width: 35px;
    border-radius: 20px;
}

.b{
    text-decoration: none;
    cursor: pointer;
}

.n{
    height: 0.95rem;
    width: 0.95rem;
    padding-top: 0.15rem;
    overflow: hidden;
    fill: #b9b9b9;
}


.more .menu-deroulant {
    font-size: 20px;   
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin-left: 60px;
}

.more-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.more-menu .element-menu-deroulant {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu .element-menu-deroulant:hover {
    background-color: #cccccc;
    color: black;
}
  
.more:hover .more-menu {
    display: block;
}