#cadrePoste{
    background: $color-8;
    border: 0.3px solid $color-5;
    border-radius:5px;
    margin-bottom: 10px;
    width: 70%;

    margin-left: 3%;
}

#postContenu{
    padding: 15px;
    

}

#contenuePoste{
    background: $color-8;
    border: 0.3px solid $color-5;
    border-radius:5px;
    margin-bottom: 10px;
    p{
        margin-top: 0.5%;
        margin: 1%;
        background-color: $color-3;
        border: 0.2px solid $color-5;
    }

}

#hautPoste{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.conteneur_postes{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

#cadreInfoPoste{
    display: flex;
    align-items:center;
    
}
#PhotoProfile{
    margin: 0px 15px 0px 0px;
    width: 40px;
    height:40px;
    border-radius: 20px;
    border: 2px solid #555;
    margin-bottom: 8%;
}

#NomProfile{
    font-family: arial;
    font-size: 18px;
}

/*bas poste*/
#basPoste{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;

    
}

#like, #commentaire{
    display: flex;
    align-items:center;
    
}
.alignementLien{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $color-10;
    .LienPostHome{
        min-height:100px ;
        height: 100%;
        max-height: 300px;
    }
}
