#cadrePoste{
    background: white;
    border: 2px solid grey;
    border-radius:5px;
    width: 70%;
    margin-bottom: 20px;
}

#postContenu{
    padding: 15px;
}

#hautPoste{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.conteneur_postes{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#cadreInfoPoste{
    display: flex;
    align-items:center;
}
#PhotoProfile{
    margin: 0px 15px 0px 0px;
    width: 40px;
    height:40px;
    border-radius: 20px;
    border: 2px solid #555;
}

#NomProfile{
    font-family: arial;
    font-size: 18px;
}

/*bas poste*/
#basPoste{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

#like, #commentaire{
    display: flex;
    align-items:center;
}
