
.modificationDuProfilBackgroud{
    // background: $color-6;
    
}

.modificationDuProfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}

 .modificationDuProfilText{
    display: flex;
    flex-direction: column;
    padding-left:5%;
    width: 88%;
    font-size: medium;
}

span{
    margin: 1%;

}

.imageDeProfil{
    width: 15%;
}

.accesDossiersPerso{
    display: flex;
    align-items: row;
    margin-left:10%;
    width:80% ;
    
    
}


input{
    margin-right: 0.5%;
}
