<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ma page de test</title>
    <link rel="stylesheet" href="pagePerso.css" />
  </head>
  <body>
  	<div id="image">
  		<img id="PhotoProfile" src="https://i.pinimg.com/originals/5c/a0/cf/5ca0cf624647dced23ec5329ed0cde6f.png"/>
  	</div>
  	<div id="blocName">
  		<h1>Lena 1er</h1>
  		<h2 class="subdo">@Lena1er</h2>
  	<div>
  	<div id="blocAbonnement">
  		<div>
  			<div class="nombre">10k</div>
  			<div class="texteNombre">Abonnement</div>
  		</div>
  		<div>
  			<div class="nombre">10k</div>
  			<div class="texteNombre">Abonnée</div>
  		</div>
  	</div>
  </body>
</html>

