<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ma page de test</title>
    <link rel="stylesheet" href="SuivreAussi.css" />
  </head>
  <body>
	<div id="suivreAussi">
        <h1>Suivre aussi</h1>
        <div id="listeCompteASuivre">
            <div class="infoPersonne">
                <img class="PhotoProfile" src="https://i.pinimg.com/originals/5c/a0/cf/5ca0cf624647dced23ec5329ed0cde6f.png"/>
                <div class="cadreName">
                    <h2 class="name">personne 1</h2>
                    <h3 class="arobase">@personne1</h3>
                </div>
            </div>
            <div class="infoPersonne">
                <img class="PhotoProfile" src="https://i.pinimg.com/originals/5c/a0/cf/5ca0cf624647dced23ec5329ed0cde6f.png"/>
                <div class="cadreName">
                    <h2 class="name">personne 1</h2>
                    <h3 class="arobase">@personne1</h3>
                </div>
            </div>
            <div class="infoPersonne">
                <img class="PhotoProfile" src="https://i.pinimg.com/originals/5c/a0/cf/5ca0cf624647dced23ec5329ed0cde6f.png"/>
                <div class="cadreName">
                    <h2 class="name">personne 1</h2>
                    <h3 class="arobase">@personne1</h3>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
